    <!-- Footer -->
    <div class="footer">
        <footer class="footer-bg">
        <!-- Copyright -->
            <div class="text-center py-3">© 2019 Copyright:
                <a href="#"> AttendanceLogger.com</a>
            </div>
        <!-- Copyright -->
        </footer>
    </div>
  <!-- Footer -->
    </body>
</html>